version: '3.8'

services:
  mongodb:
    image: mongo:6.0
    container_name: clouddocs-mongodb
    restart: unless-stopped
    ports:
      - "27018:27017" #Deivis lo cambio al puerto 27018 para evitar conflicto con instancia local de MongoDB
    environment:
      MONGO_INITDB_DATABASE: clouddocs
    volumes:
      - mongodb_data:/data/db
    networks:
      - clouddocs-network

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.11.0
    container_name: clouddocs-elasticsearch
    restart: unless-stopped
    ports:
      - "9200:9200"
      - "9300:9300"
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    volumes:
      - elasticsearch_data:/usr/share/elasticsearch/data
    networks:
      - clouddocs-network
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:9200/_cluster/health || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 5

volumes:
  mongodb_data:
    driver: local
  elasticsearch_data:
    driver: local

networks:
  clouddocs-network:
    driver: bridge
